<style>
.navbar-default {
    background-color: #b1b1b3;
}

h3{
       font-weight: bolder;
       line-height: 1.1;
       font-size: 24px;
       font-family: 'Playfair Display', serif;
       
       text-align:justify;

    }

    ul{
      list-style-type:none;
      margin: 0;
      padding: 0;
    }

    body{
      font-size: 16px;
      font-family: 'Playfair Display', serif;

      text-align:justify;
    }

    li{
      margin: 5;
    }
</style>